body, button, select, textarea, input, label, option, fieldset, legend {
	font-family: 12px/1.5 tahoma, arial, verdana, sans-serif, \5b8b\4f53, \5FAE\8F6F\96C5\9ED1;
	color: #000;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, button, p, blockquote, th, td {
	margin: 0;
	padding: 0
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	display: block;
	margin: 0;
	padding: 0
}
h1, h2, h3, h4, h5, h6, small {
	font-size: 100%
}
h1, h2, h3, h4, h5, h6,strong, b {
	font-weight: normal;
}
i, cite, em, var, address, dfn {
	font-style: normal;/* 将斜体扶正 */
	font-weight: normal
}
pre, code, kbd, samp {
    font-family: inherit; /* 统一等宽字体 */
}
summary {
	outline: 0
}
label, summary {
	cursor: default
}
button, input, select, textarea {
	font-size: 100%
}
fieldset, img, abbr {
	border: 0
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}
ul,li {
	list-style: none
}
legend {
	color: #000;
}
mark {
	background: #ff0
}
sup {
	vertical-align: text-top
}
sub {
	vertical-align: text-bottom
}
sup, sub {
	font-size: 83%
}
q:before, q:after {
	content:'';
}
caption, th {
	text-align: center;
	font-weight: bold;
}
a, button {
	cursor: pointer;
}
del, ins, u {
	text-decoration: none
}

a:link, a:visited {
text-decoration: none;
color: #000;
}
a:hover, a:active {
text-decoration: underline;
color: #000;
border: none;
}
/*以上语句分别定义了"链接、已访问过的链接、鼠标停在上方时、点下鼠标时"的样式。
注意，必须按以上顺序写，否则显示可能和你预想的不一样。记住它们的顺序是“LVHA”。*/

/*======================CSS垂直居中=======================*/
.valign {
display:table-cell;
*display: inline;
zoom:1;
vertical-align:middle;
}
/*文字排版、颜色*/
.f12{font-size:12px}
.f13{font-size:13px}
.f14{font-size:14px}
.f16{font-size:16px}
.f20{font-size:20px}
.fb{font-weight:bold}
.fn{font-weight:normal}
.t2{text-indent:2em}

/*定位*/
.tl{text-align:left}
.tc{text-align:center}
.tr{text-align:right}
.fl,.f-l{float:left;}
.fr,.f-r{float:right;}
.cb{clear:both}
.cl{clear:left}
.cr{clear:right}
.vm{vertical-align:middle}
.pr{position:relative}
.pa{position:absolute}
.abs-right{position:absolute;right:0}
.zoom{zoom:1}
.hidden{visibility:hidden}
.none{display:none}

